<header class="site-header">
  <a href="/" class="logo">
    <img src="/assets/img/profile.png" alt="Profile picture" width="64" height="64" />
  </a>
  <h1 class="site-title">Brett-Michael Green Personal Blog</h1>
  <nav class="site-nav">
    <a href="/">Home</a>
    <a href="/posts/">Posts</a>
  </nav>
  <hr/>
</header>
