<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ title or "Brett-Michael Green Personal Blog" }}</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@2.0.6/css/pico.min.css">
</head>
<body>
  {% include "header.njk" %}
  <main class="container">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>
