---
title: Home
layout: base.njk
---
<h2>Welcome!</h2>
<p>This is my personal blog. I post long form content here to link elsewhere. </p>
<a href="https://github.com/greenbrettmichael">github</a>
<a href="https://www.linkedin.com/in/brett-michael-green/">linkedin</a>
<a href="https://x.com/bmgblogs">x</a>

<h3>Latest posts</h3>
<ul>
  {%- for post in collections.post | reverse -%}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
  {%- endfor -%}
</ul>
